header {
    background-color: #FFF7ED;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    z-index: 1;
}

header a {
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin: 0 10px;
}

header>.site-logo {
    font-size: 1.5rem;
    font-weight: 900;
}

/* DEFAULT STYLES ============================================ */

h1 {
    font-weight: 700;
    font-size: 3rem;
    /* line-height: 42px; */
}

p {
    font-size: 1.2rem;
    /* line-height: 24px; */
    margin: 1rem 0;
}

button {
    background-color: black;
    color: white;
    padding: .7rem 1.2rem;
    font-size: 1rem;
    text-align: center;
    border-radius: 5px;
    border: none;
    margin: 1rem 0;
    cursor: pointer;
    transition: all ease .3s;
}

button:hover{
    transform: translate(0, -4px);
    box-shadow: 0  2px 5px rgba(0, 0, 0, 0.5);
}

.outline {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}


/* HOME PAGE ================================================ */

.home-banner-wrapper {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/van7.jpg') no-repeat;
    /* background-image: url('./assets/mountains.png'); */
    background-size: cover;
    background-position: bottom;
    object-fit: contain;
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 2rem;
    /* text-shadow: 0 0 5px black; */
}

.home-banner-content {
    width: 60%;
    text-align: center;
}

.home-banner-content h1 {
    font-size: 4rem;
}

.home-banner-content p {
    font-size: 1.4rem;
    margin: 1rem 0;
}

button.home-btn {
    width: 50%;
    padding: 1rem;
    background-color: #FF8C38;
    font-weight: 500;
    font-size: 1.2rem;
}

/* ABOUT PAGE ================================================*/

.about-banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/vans.jpg') no-repeat;
    height: 60vh;
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 0 0 5px black;
}

.about-container-content {
    width: 50%;
    margin: 2.5rem auto;
}

.about-container-content h2 {
    font-size: 2.5rem;
}

.about-container-highlight-box {
    background-color: #FFCC8D;
    border-radius: 5px;
    padding: 1.8rem 1.5rem;
    width: 80%;
    margin: 4rem auto;
}

.about-container-highlight-box p {
    font-size: 2rem;
    margin: .5rem 0;
    font-weight: 600;
}


/* VAN PAGE ================================================*/

.van-container {
    padding: 1rem 2.5rem;
}

.van-container h2 {
    margin: 2rem 0;
    font-size: 2rem;
}

.van-card {
    /* width: fit-content; */
    /* border: 1px solid black; */
    /* width: 200px;
    height: 200px; */
    /* display: flex; */
    /* flex-direction: column; */
    /* padding: 5px; */
    /* overflow: auto; */
}

.van-card-img {
    width: 250px;
}

.van-card img {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.van-card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.van-card-content h3 {
}

.van-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 1rem;
}
button.van-type{
    margin: 0;
}
button.van-type:hover{
    transform: none;
}