header {
    background-color: #FFF7ED;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

header>.site-logo {
    font-size: 1.5rem;
    font-weight: 900;
}

header a {
    margin: 0 10px;
}

/* DEFAULT STYLES ============================================ */
a {
    color: black;
    text-decoration: none;
    font-weight: 500;
    /* margin: 0 10px; */
}

header>nav>a:hover {
    text-decoration: underline;
}

h1 {
    font-weight: 700;
    font-size: 3rem;
    /* line-height: 42px; */
}

p {
    font-size: 1.2rem;
    margin: 1rem 0;
}

button {
    background-color: black;
    color: white;
    padding: .7rem 1.2rem;
    font-size: 1rem;
    text-align: center;
    border-radius: 5px;
    border: none;
    margin: 1rem 0;
    cursor: pointer;
    transition: all ease .3s;
}

button:hover {
    transform: translate(0, -4px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.outline {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.back-button {
    color: gray;
    font-weight: bold;
}

.back-button:hover {
    color: #333;
    text-decoration: underline;
}


/* HOME PAGE ================================================ */

.home-banner-wrapper {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/van7.jpg') no-repeat;
    /* background-image: url('./assets/mountains.png'); */
    background-size: cover;
    background-position: bottom;
    object-fit: contain;
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 2rem;
    /* text-shadow: 0 0 5px black; */
}

.home-banner-content {
    width: 60%;
    text-align: center;
}

.home-banner-content h1 {
    font-size: 4rem;
}

.home-banner-content p {
    font-size: 1.4rem;
    margin: 1rem 0;
}

button.home-btn {
    width: 50%;
    padding: 1rem;
    background-color: #FF8C38;
    font-weight: 500;
    font-size: 1.2rem;
}

/* ABOUT PAGE ================================================*/

.about-banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/vans.jpg') no-repeat;
    height: 60vh;
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 0 0 5px black;
}

.about-container-content {
    width: 50%;
    margin: 2.5rem auto;
}

.about-container-content h2 {
    font-size: 2.5rem;
}

.about-container-highlight-box {
    background-color: #FFCC8D;
    border-radius: 5px;
    padding: 1.8rem 1.5rem;
    width: 80%;
    margin: 4rem auto;
}

.about-container-highlight-box p {
    font-size: 2rem;
    margin: .5rem 0;
    font-weight: 600;
}


/* VANS PAGE ================================================*/

.van-container {
    /* width: 90%;
    margin: 1.5rem auto; */
    padding: 1rem 2.5rem;
}

.van-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 4rem 1rem;
}

.van-container h2 {
    margin: 2rem 0;
    font-size: 2rem;
}

.van-card-img {
    width: 270px;
}

.van-card img {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.van-card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.van-type {
    height: 34px;
    padding: 6px 26px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    background-color: #FFEAD0;
    color: #4D4D4D;
    transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van-type:hover {
    color: #FFEAD0;
}

.van-type:focus {
    outline: none;
}

.van-type.selected {
    color: #FFEAD0;
}

.van-type.simple:hover,
.van-type.simple.selected {
    background-color: #E17654;
}

.van-type.rugged:hover,
.van-type.rugged.selected {
    background-color: #115E59;
}

.van-type.luxury:hover,
.van-type.luxury.selected {
    background-color: #161616;
}

/* VanDetail PAGE ================================================*/

.van-detail-container {
    padding: 2rem 1.5rem;
}

.van-detail-container a {
    margin-left: 4.5rem;
    margin-bottom: 1rem;
}

.van-detail-wrapper {
    display: flex;
    align-items: start;
    gap: 2rem;
    width: 90%;
    margin: 1rem auto;
}

.van-detail-container img {
    border-radius: 5px;
    width: 100%;
    height: 80vh;
    object-fit: cover;
}

.van-detail-img {
    flex: 1;
}

.van-detail-content {
    flex: 1;
}

.van-detail-content h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.van-detail-content p {
    font-weight: 300;
    font-size: 1.1rem;
}

button.van-detail-btn {
    width: 100%;
    background-color: #FF8C38;

}

/* host-layout-container ================================================*/
.host-layout-container {
    min-height: 78vh;
    padding: 2rem 2.5rem;
}

.host-nav {
    margin-bottom: 1.5rem;
}

.host-layout-container nav a:not(:first-child) {
    margin-left: 2rem;
    padding: 0;
}

.host-layout-container nav a:hover {
    text-decoration: underline;
}

/* host-vans-container ================================================*/
.host-vans-container {}

.host-van-card {
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 50%;
}

.host-van-card img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

.host-van-card-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 80%;
}

.host-van-photo img {
    width: 100px;
    height: 100px;
}

/* host-van-detail-container ================================================*/
.host-van-detail-container {}


.host-van-detail-card {
    background-color: white;
    padding: 2rem;
    border-radius: 5px;
    display: flex;
    align-items: start;
    gap: 2rem;
    margin-top: 1rem;
}

.host-van-detail-card>img {
    /* width: 150px;
    border-radius: 5px; */
    border-radius: 5px;
    width: 100%;
    height: 50vh;
    object-fit: cover;
    flex: 1;
}

.host-van-detail-content {
    flex: 2;
}

.host-van-detail-content h2 {
    margin: .5rem 0;
    font-size: 2rem;
}

.host-van-detail-card-nav {
    margin-bottom: 1rem;
}

.anything {
    width: 150px;
    border-radius: 5px;
    margin-top: 1rem;
    margin-right: 1rem;
}

.anything img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

/* FOOTER ================================================*/

footer {
    background-color: #252525;
    color: #AAAAAA;
    text-align: center;
    padding: .7rem 0;
    margin-top: 5rem;
}

a.developed-by {
    font-weight: 700;
    transition: all ease .3s;
    color: #AAAAAA;
    text-decoration: underline;
}

.developed-by:hover {
    color: white;
}